NEXT_PUBLIC_SITE_URL=https://luxustelefonia.com.br
NEXT_PUBLIC_WHATSAPP=555183250103
NEXT_PUBLIC_PHONE=555183250103
NEXT_PUBLIC_PHONE_DISPLAY=(51) 8325-0103
NEXT_PUBLIC_EMAIL=contato@luxustelefonia.com.br
NEXT_PUBLIC_CLIENT_PORTAL_URL=
NEXT_PUBLIC_FOUNDED_YEAR=2007
NEXT_PUBLIC_INSTAGRAM=
NEXT_PUBLIC_FACEBOOK=
# Preços das linhas novas: edite em content/site.ts (plans).
